<mat-card class="card">
    <mat-card-header>
    <div (click)="showUserProfile(post.owner.id)" mat-card-avatar class="card-header-image" style="background-image: url({{post.owner.picture}});
      background-size: cover;"></div>
      <mat-card-title (click)="showUserProfile(post.owner.id)">{{post.owner.firstName + " " + post.owner.lastName}}       
      </mat-card-title>
      <mat-card-subtitle (click)="showUserProfile(post.owner.id)">{{post.owner.email}}</mat-card-subtitle>
      <mat-icon class="verified-icon" aria-hidden="false" aria-label="verified">verified</mat-icon>
    </mat-card-header>
    <img mat-card-image src={{post.image}} alt="image">
    <mat-card-content>
      <mat-chip-list aria-label="tags">
        <mat-chip  color="primary" selected *ngFor="let tag of post.tags" (click)=chooseCategory(tag.title)>
          {{tag.title}}
        </mat-chip>
      </mat-chip-list>
      <div>
      </div>
      <div>
        <h4 class="likes"> <mat-icon aria-hidden="false" class="like-icon"  aria-label="heart">favorite</mat-icon> {{post.likes + " people likes this"}}</h4>
      </div>
      <p>
        {{post.text}}
      </p>
      <a href="{{post.link}}"> {{post.link}}</a>
      <h5>{{this.publishDate}}</h5>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View Comments</button>
      <button mat-button>Add Comments</button>
    </mat-card-actions>
</mat-card>