<mat-card class="card">
    <mat-card-header>
    <div (click)="showUserProfile(post.owner.id)" mat-card-avatar class="card-header-image" style="background-image: url({{post.owner.picture}});
      background-size: cover;"></div>
      <mat-card-title (click)="showUserProfile(post.owner.id)">{{post.owner.firstName + " " + post.owner.lastName}}       
      </mat-card-title>
      <mat-card-subtitle (click)="showUserProfile(post.owner.id)">{{post.owner.email}}</mat-card-subtitle>
      <mat-icon class="verified-icon" aria-hidden="false" aria-label="verified">verified</mat-icon>
    </mat-card-header>
    <img mat-card-image src={{post.image}} alt="image">
    <mat-card-content>
      <mat-chip-list aria-label="tags" style="margin-bottom: 5px;">
        <mat-chip  color="primary" selected *ngFor="let tag of post.tags" (click)=chooseCategory(tag.title)>
          {{tag.title}}
        </mat-chip>
      </mat-chip-list>
      <div style="margin-top: 5px;">
        <h3 class="likes">  <mat-icon style="font-size: inherit;"  aria-hidden="false" class="like-icon"  aria-label="heart">favorite</mat-icon>
          {{post.likes + " people likes this"}}</h3>
          <mat-divider [inset]="true"></mat-divider>
      </div>
      
      <p>
        {{post.text}}
      </p>
      <a href="{{post.link}}"> {{post.link}}</a>
      <h5>{{this.publishDate}}</h5>
    </mat-card-content>
    <mat-card-actions>
      <button class="button-show-comment" mat-stroked-button color="primary" (click)="showComments()">View Comments</button>
      <mat-divider [inset]="true"></mat-divider>
      <div *ngIf="isLoadingComment" class="content-comment-loading">
        <mat-progress-spinner mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div *ngIf="!isLoadingComment && showComment" class="comment-section" >
        <app-comment  *ngFor="let comment of comments"  [comment]="comment" class="comment">
        </app-comment>
      </div>
    </mat-card-actions>

</mat-card>